In [1]:
import os

os.chdir("E:/code/6.MachineLearning/5_Preprocessing_of_data")
os.getcwd()

'E:\\code\\6.MachineLearning\\5_Preprocessing_of_data'

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/pavanpuppala0346/data/main/creditcards.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,3073,1.188739,-0.110925,-0.247423,-0.056450,-0.230669,-0.884735,0.252123,-0.107019,-0.128072,...,-0.339530,-1.248046,0.070858,-0.003754,0.148766,0.706722,-0.132117,-0.008134,58.92,0
2,3073,-0.548584,0.647927,-0.590784,-3.241789,2.647739,2.924031,0.319644,-0.224865,0.765084,...,0.771417,-0.009922,-0.216549,0.995281,0.252971,-0.818252,0.275449,-0.012249,1.00,0
3,3075,-1.516972,-0.798039,-0.352068,-2.878183,3.975981,1.930716,-0.389529,0.566296,0.872467,...,-0.066073,0.103967,-0.592267,1.052167,0.431615,-0.774772,0.268011,-0.124329,1.00,0
4,3075,-2.194168,0.077288,2.313353,1.903733,1.332965,-0.730896,0.126259,-0.315549,-0.171180,...,-0.245901,-0.069742,-0.939594,0.461452,0.454872,-0.050365,-0.364221,-0.175896,29.90,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2493 entries, 0 to 2492
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    2493 non-null   int64
 1   V1      2493 non-null   float64
 2   V2      2493 non-null   float64
 3   V3      2493 non-null   float64
 4   V4      2493 non-null   float64
 5   V5      2493 non-null   float64
 6   V6      2493 non-null   float64
 7   V7      2493 non-null   float64
 8   V8      2493 non-null   float64
 9   V9      2493 non-null   float64
 10  V10     2493 non-null   float64
 11  V11     2493 non-null   float64
 12  V12     2493 non-null   float64
 13  V13     2493 non-null   float64
 14  V14     2493 non-null   float64
 15  V15     2493 non-null   float64
 16  V16     2493 non-null   float64
 17  V17     2493 non-null   float64
 18  V18     2493 non-null   float64
 19  V19     2493 non-null   float64
 20  V20     2493 non-null   float64
 21  V21     2493 non-null   float64
 22  V22     2493 non-null   float64
 23  V23     2493 non-null   float64
 24  V24     2493 non-null   float64
 25  V25     2493 non-null   float64
 26  V26     2493 non-null   float64
 27  V27     2493 non-null   float64
 28  V28     2493 non-null   float64
 29  Amount  2493 non-null   float64
 30  Class   2493 non-null   int64
dtypes: float64(29), int64(2)
memory usage: 603.9 KB