load_boston
load_breast_cancer
load_diabetes
load_digits
load_files
load_iris
load_linnerud
load_sample_image
load_sample_images
load_svmlight_file
load_svmlight_files
load_wine

 ##### 01. Load iris data set #####
 ##### 02. Create Data Frame #####

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),classes
0,5.1,3.5,1.4,0.2,0
50,7.0,3.2,4.7,1.4,1
100,6.3,3.3,6.0,2.5,2

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),classes
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa

(array([0, 1, 2]), array([50, 50, 50], dtype=int64))

AttributeError: module 'sklearn' has no attribute 'datasets'

NameError: name 'dataset' is not defined

NameError: name 'dataset' is not defined

NameError: name 'dataset' is not defined

NameError: name 'dataset' is not defined