## Step 1: Import necessary modules

In [3]:
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

(506, 13)
<class 'sklearn.utils.Bunch'>

In [6]:
df = pd.DataFrame(data = boston.data, columns=boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [13]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

## Step 3: Create training and test sets

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.3,
                                                    random_state=42)

## Step 4: Create Model

In [10]:
reg_all = LinearRegression()
reg_all.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Step 5: Predict using model

In [11]:
y_pred = reg_all.predict(X_test)

## Step 6: Test the Performance

In [12]:
print("R^2: {}".format(reg_all.score(X_test, y_test)))

R^2: 0.711226005748496

In [13]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

Root Mean Squared Error: 4.638689926172797

In [14]:
std = np.std(y_test)
print("Standard Deviation σ : {}".format(std))

Standard Deviation σ : 8.632096823360303

In [15]:
rmse <std # For  good model # it must be true

True